第8章_法律领域应用实践/8.2_对话数据微调/data/processed/*.json filter=lfs diff=lfs merge=lfs -text
第8章_法律领域应用实践/8.2_对话数据微调/data/raw/*.json filter=lfs diff=lfs merge=lfs -text
第6章_智能客服问答实践/6.4_部署应用/m3e-small/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
