protobuf
transformers==4.30.2
cpm_kernels
torch>=2.0
gradio==3.39
mdtex2html
sentencepiece
accelerate
sse-starlette
streamlit>=1.24.0
fastapi==0.95.1
typing_extensions==4.4.0
uvicorn
sse_starlette
loguru
deepspeed==0.15.0
peft==0.12.0
tensorboard==2.17.0
rouge-chinese==1.0.3
astunparse==1.6.3
tqdm==4.67.1